{% load static %}
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#954bc5" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1e88e5">
    <title>AGRI LOG</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">

</head>

<body style="font-family: 'Open Sans', sans-serif;">
    <div id="root"></div>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>